trunk/Controllers/CandyStoreController/Web References/CandyStore/CandyStore.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetAllModules">
        <s:complexType />
      </s:element>
      <s:element name="GetAllModulesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllModulesResult" type="tns:ArrayOfCandyEntity" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCandyEntity">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CandyEntity" nillable="true" type="tns:CandyEntity" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CandyEntity">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CandyName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CandyImageUrl" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetSpecificModule">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fileName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSpecificModuleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSpecificModuleResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAllModulesSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllModules" />
  </wsdl:message>
  <wsdl:message name="GetAllModulesSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllModulesResponse" />
  </wsdl:message>
  <wsdl:message name="GetSpecificModuleSoapIn">
    <wsdl:part name="parameters" element="tns:GetSpecificModule" />
  </wsdl:message>
  <wsdl:message name="GetSpecificModuleSoapOut">
    <wsdl:part name="parameters" element="tns:GetSpecificModuleResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="GetAllModules">
      <wsdl:input message="tns:GetAllModulesSoapIn" />
      <wsdl:output message="tns:GetAllModulesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSpecificModule">
      <wsdl:input message="tns:GetSpecificModuleSoapIn" />
      <wsdl:output message="tns:GetSpecificModuleSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllModules">
      <soap:operation soapAction="http://tempuri.org/GetAllModules" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSpecificModule">
      <soap:operation soapAction="http://tempuri.org/GetSpecificModule" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllModules">
      <soap12:operation soapAction="http://tempuri.org/GetAllModules" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSpecificModule">
      <soap12:operation soapAction="http://tempuri.org/GetSpecificModule" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://localhost:8081/CandyStoreWebService/CandyStore.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://localhost:8081/CandyStoreWebService/CandyStore.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>